div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.calcContainer{
    display: flex;
    flex-flow: column;
}